@use "../../styles/_variables.scss" as *;

.dropdown {
  width: 460px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  color: $input-text-color;
  position: relative;
  margin-bottom: 16px;

  &__input {
    width: 100%;
    border: 2px solid $border-color;
    border-radius: 16px;
    height: 52px;
    padding: 0px 16px;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: $input-text-color;
    font-weight: 600;
    outline: none;

    &:focus {
      border: 2px solid $focus-border-color;
      box-shadow: 0px 1px 8px 2px $focus-shadow-color;
    }
  }

  &__chevron {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 24px;
  }

  &__options-wrapper {
    position: absolute;
    top: 60px;
    z-index: 1;
    background-color: $bg-white-color;
    width: 100%;
    padding: 16px 4px;
    box-shadow: 0px 1px 8px 2px $box-shadow-color;
    border: 1px solid $border-light-color;
    border-radius: 24px;
  }

  &__options {
    height: 320px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 4px 8px 8px;

    &::-webkit-scrollbar {
      width: 6px;
      margin: 32px 0px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-thumb-color;
      border-radius: 10px;
    }
  }

  &__option {
    display: flex;
    justify-content: space-between;
    color: $option-color;
    padding: 10px 16px;
    position: relative;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: $option-hover-color;
      background-color: $option-hover-bg-color;
      border-radius: 8px;
    }
  }

  &__checkbox {
    display: none;

    &:checked ~ span:after {
      display: block;
    }
  }

  &__tick {
    position: absolute;
    top: 8px;
    right: 16px;
    height: 24px;
    width: 24px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 2px;
      width: 7px;
      height: 14px;
      border: solid $tick-color;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
}
