$primary-bg-color: #fefefe;
$primary-text-color: #000;
$input-text-color: #666;
$border-color: rgb(87, 85, 85);
$focus-border-color: rgb(144, 166, 240);
$focus-shadow-color: rgba(144, 166, 240, 0.6);
$bg-white-color: #fff;
$box-shadow-color: rgba(47, 47, 48, 0.1);
$border-light-color: #ddd;
$scrollbar-thumb-color: rgb(175, 175, 175);
$option-color: rgb(99, 96, 96);
$option-hover-color: rgb(57, 98, 173);
$option-hover-bg-color: rgb(232, 240, 255);
$tick-color: rgb(52, 54, 185);
